@page
@model advice_project.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p class="lead">Aplikacja Advice Project</p>
<p class="lead">Co umożliwia...</p>
<p class="lead">Technologie:</p>
<ul>
    <li class="lead">ASP.NET Core</li>
    <li class="lead">Bootstrap</li>
</ul>