@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
}
<h1>@ViewData["Title"]</h1>

<form class="form-horizontal" method="post">
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Query">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </div>

</form>

@foreach (string advice in @Model.Advices)
 {
    <div class="card text-center">
        <div class="card-body">
            <p class="card-text lead">@(advice)</p>
        </div>
    </div>
 }