@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
}
<h1>@ViewData["Title"]</h1>

<p class="lead">for advice...</p>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button">Search</button>
    </div>
</div>

<div class="card text-center">
    
    <div class="card-body">

        <p class="card-text lead">Advice Text</p>
    </div>
    <div class="card-footer text-muted">
        Added [date]
    </div>
</div>

<hr class="my-4">
